a {
  color: blueviolet;
  text-decoration: none;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

/* universal selectorr */
/* The universal selector will select elements of any type */
* {
  color: purple;
}

/* type selectors */
/* A type selector (or element selector) will select all elements of the given element type, and the syntax is just the name of the element */
div {
  color: black;
}

/* class selectors */
/* Class selectors will select all elements with the given class, which is just an attribute you place on an HTML element. */

.alert-text {
  color: red;
}

/* ID selectors */
/* ID selectors are similar to class selectors. The major difference between classes and IDs is that an element can only have one ID. It cannot be repeated on a single page and should not contain any whitespace*/

#title {
  background-color: red;
}

/* Chaining selectors */
.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}

/* specificity */
/* rule 1 */
.subsection {
  color: blue;
}

/* rule 2 */

.main .list {
  color: red;
}

/* rule 1 */
#subsection {
  color: blue;
}

/* rule 2 */
.main .list {
  color: red;
}

/* inheritance */
/* styles.css */

#parent {
  color: red;
}

.child {
  color: blue;
}

/* the box model */
/* * {
  outline: 2px solid red;
} */

body {
  font-family: sans-serif;
}
/*
p,
ul {
  border: 2px solid rebeccapurple;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}
*/
body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
}

span,
li {
  border: 2px solid blue;
}

ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}

/* playing with box model */
/* .box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
} */

/* margin, padding and border */
/* .container {
  border: 5px solid blue;
  margin: 40px;
}
 */

/* try changing the margin properties: */
/*
.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  height: 100px;
  margin-top: -40px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 4em;
  
} */

/* margin collapsing */
/* .container {
  border: 5px solid blue;
  margin: 40px;
}

p {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
}
.one {
  margin-bottom: 50px;
}

.two {
  margin-top: 30px;
} */

/* borders */
/* body {
  font-family: sans-serif;
}
.container {
  margin: 40px;
  padding: 20px;
  border-top: 15px dotted green;
  border-right: 5px solid black;
  border-bottom: 20px double rgb(23 45 145);
}

.box {
  padding: 20px;
  background-color: lightgray;
  border: 1px solid #333333;
  border-top-style: dotted;
  border-right-width: 20px;
  border-bottom-color: hotpink;
} */

/* padding */
body {
  font-family: sans-serif;
}
.container {
  border: 5px solid blue;
  margin: 40px;
  padding: 20px;
}
.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 4em;
  text-align: center;
}
