a {
  color: blueviolet;
  text-decoration: none;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

/* universal selectorr */
/* The universal selector will select elements of any type */
* {
  color: purple;
}

/* type selectors */
/* A type selector (or element selector) will select all elements of the given element type, and the syntax is just the name of the element */
div {
  color: black;
}

/* class selectors */
/* Class selectors will select all elements with the given class, which is just an attribute you place on an HTML element. */

.alert-text {
  color: red;
}

/* ID selectors */
/* ID selectors are similar to class selectors. The major difference between classes and IDs is that an element can only have one ID. It cannot be repeated on a single page and should not contain any whitespace*/

#title {
  background-color: red;
}

/* Chaining selectors */
.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}

/* specificity */
/* rule 1 */
.subsection {
  color: blue;
}

/* rule 2 */

.main .list {
  color: red;
}

/* rule 1 */
#subsection {
  color: blue;
}

/* rule 2 */
.main .list {
  color: red;
}

/* inheritance */
/* styles.css */

#parent {
  color: red;
}

.child {
  color: blue;
}

/* the box model */
/* * {
  outline: 2px solid red;
} */

body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;
  padding: 0.2em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}
